<h1 class="mt-5">Post List</h1>

<table class="table table-bordered">
<thead>
    <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
    <th>Category</th>
    <th>Actions</th>
    </tr>
</thead>   
<tbody>
    <tr *ngFor='let item of blogList'>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
        <td>{{item.author}}</td>
        <td>{{item.category}}</td>
        <td>
            <a routerLink="edit/{{item.id}}" class="btn btn-warning mr-2">Edit</a>
            <button (click)="deletePost(item.id)" class="btn btn-danger">delete</button>
        </td>
    </tr>
</tbody>
</table>
